@import "tailwindcss";

@theme {
  --color-darkBg: #141414;
  --color-darkCard: #1f1f1f;
  --color-brandRed: #e50914;
  --color-brandRedHover: #b20710;
}

body {
  @apply bg-darkBg text-white antialiased;
}